<%- include('partials/header') %>
<div class="container centered">
  <h1>Register</h1>
  <div class="row">
    <div class="col">
      <div>
        <div class="loginform" >
          <form action="/register" method="POST">
            <div class="form">
              <p for="name" class="label">Username</p>
              <input type="name" class="inputlogin" name="username" placeholder=" Enter your name">
            </div>
            <div class="form">
                <p for="email" class="label">E-mail</p>
                <input type="email" class="inputlogin" name="email" placeholder=" Enter your email-Id">
            </div>
            <div class="form">
              <p for="department" class="label">Department</p>
              <input type="name" class="inputlogin" name="department" placeholder=" Enter your department">
            </div>
            <div class="form">
              <div class="center-block">
                <p for="password" class="label">Password </p>
                <!-- <input type="text" id="password" autocomplete="off" class="form-control input-lg"> -->
                <input type="password" id="password" class="inputlogin" name="password" placeholder=" Create password">
                <span class="show-pass" onclick="toggle()" onmouseover="toggle2()" onmouseleave="toggle3()">
                  <span class="far fa-eye" onclick="myFunction(this)"></span>
                </span>
              </div>
               <!-- <div class="meter"><progress max="100" value="0" id="meter"></progress></div> -->
               
               <p><span id="result"></span></p>
              <div id="password-strength" class="progress">
                <div id="password-strength" 
                    class="progress-bar" 
                    role="progressbar" 
                    aria-valuenow="40" 
                    aria-valuemin="0" 
                    aria-valuemax="100" 
                    style="width:0%">
                </div>
              </div>
              <label for="" >Strength</label>
            </div>
            <!-- <label>Profile Photo</label>>   -->
            <!-- <input type="submit" value="Upload Photo">     -->
        <ul class="list-unstyled">
          <li class="">
              <span class="low-upper-case">
                  <i class="fas fa-circle" aria-hidden="true"></i>
                  &nbsp;Lowercase &amp; Uppercase
              </span>
          </li>
          <li class="">
              <span class="one-number">
                  <i class="fas fa-circle" aria-hidden="true"></i>
                  &nbsp;Number (0-9)
              </span> 
          </li>
          <li class="">
              <span class="one-special-char">
                  <i class="fas fa-circle" aria-hidden="true"></i>
                  &nbsp;Special Character (!@#$%^&*)
              </span>
          </li>
          <li class="">
              <span class="eight-character">
                  <i class="fas fa-circle" aria-hidden="true"></i>
                  &nbsp;Atleast 8 Character
              </span>
          </li>
      </ul>
      <!-- <p for="prfile-pic" class="label">Profile photo</p>
        <input class="pic" type="file" name="image" accept="image/*"> -->
      <h3 style="color: red; animation: wiggle 1s;"><%= already %> </h3>
      <button type="submit" class="btn reg-btn">Register</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<script>
  let state = false;
let password = document.getElementById("password");
let passwordStrength = document.getElementById("password-strength");
let lowUpperCase = document.querySelector(".low-upper-case i");
let number = document.querySelector(".one-number i");
let specialChar = document.querySelector(".one-special-char i");
let eightChar = document.querySelector(".eight-character i");
let list = document.querySelector("ul");

password.addEventListener("keyup", function(){
    let pass = document.getElementById("password").value;
    checkStrength(pass);
    list.style.display = "block";
});

function toggle(){
    if(state){
        document.getElementById("password").setAttribute("type","password");
        state = false;
    }else{
        document.getElementById("password").setAttribute("type","");
        state = true;
    }
}

function toggle2(){
    document.getElementById("password").setAttribute("type","");
}

function toggle3(){
    document.getElementById("password").setAttribute("type","password");
    if(state == true){
        document.getElementById("password").setAttribute("type","");
    }
}

function myFunction(show){
    show.classList.toggle("fa-eye-slash");
}

function checkStrength(password) {
    let strength = 0;

    //If password contains both lower and uppercase characters
    if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) {
        strength += 1;
        lowUpperCase.classList.remove('fa-circle');
        lowUpperCase.classList.add('fa-check');
    } else {
        lowUpperCase.classList.add('fa-circle');
        lowUpperCase.classList.remove('fa-check');
    }
    //If it has numbers and characters
    if (password.match(/([0-9])/)) {
        strength += 1;
        number.classList.remove('fa-circle');
        number.classList.add('fa-check');
    } else {
        number.classList.add('fa-circle');
        number.classList.remove('fa-check');
    }
    //If it has one special character
    if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) {
        strength += 1;
        specialChar.classList.remove('fa-circle');
        specialChar.classList.add('fa-check');
    } else {
        specialChar.classList.add('fa-circle');
        specialChar.classList.remove('fa-check');
    }
    //If password is greater than 7
    if (password.length > 7) {
        strength += 1;
        eightChar.classList.remove('fa-circle');
        eightChar.classList.add('fa-check');
    } else {
        eightChar.classList.add('fa-circle');
        eightChar.classList.remove('fa-check');   
    }

    // If value is less than 2
    if (strength < 2) {
        console.log("hmmfhm");
        passwordStrength.classList.add("progress-bar-danger");
        passwordStrength.classList.remove('progress-bar-warning');
        passwordStrength.classList.remove('progress-bar-success');
        passwordStrength.style.width = "10%";
    } else if (strength == 2) {
        passwordStrength.classList.remove('progress-bar-success');
        passwordStrength.classList.remove('progress-bar-danger');
        passwordStrength.classList.add('progress-bar-warning');
        passwordStrength.style.width = "30%";
    } else if (strength == 4) {
        passwordStrength.classList.remove('progress-bar-warning');
        passwordStrength.classList.remove('progress-bar-danger');
        passwordStrength.classList.add('progress-bar-success');
        passwordStrength.style.width = "46%";
        setTimeout(()=>{
           list.style.display = "none";
        },1600);
    }
}
</script>

<%- include('partials/header') %>
